* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conatiner {
    display: flex;
    gap: 100px;
    width: fit-content;
    height: 100px;
    margin: auto;
    margin-top: 100px;
    font-size: 50px;
}

.box1 {
    display: flex;
    margin-top: 50px;

}

.item2:hover .tooltrip1 {
    visibility: visible;
}

.tooltrip1 {
    visibility: hidden;
    position: absolute;
    text-align: center;
    margin-top: -140px;
    margin-left: -40px;
    padding: 0px 40px;
    font-size: 30px;
    background-color: rgb(43, 40, 40);
    color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 20px black;
}

.box2 {
    margin-top: 50px;
}

.item5:hover .tooltrip2 {
    visibility: visible;
}

.tooltrip2 {
    visibility: hidden;
    position: absolute;
    text-align: center;
    margin-top: -140px;
    margin-left: -40px;
    padding: 0px 40px;
    font-size: 30px;
    background-color: rgb(43, 40, 40);
    color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 20px black;
}

#item1 {
    padding: 10px;
    border: 1px solid;
    border-radius: 3px 0px 0px 3px;
    color: black;
}

#item2 {
    padding: 10px;
    border: 1px solid;
    color: black;
}

#item3 {
    padding: 10px;
    color: black;
    border: 1px solid;
}

#item4 {
    padding: 10px;
    border: 1px solid;
    border-radius: 0px 3px 3px 0px;
    color: black;
}

#item5 {
    padding: 10px;
    border: 1px solid;
    color: black;
    border-radius: 3px;
}