h1:nth-child(5){
    background-color: orange;
}

header > p:first-of-type {
    background-color: yellow;
}

pre:last-of-type{
    background-color: green;
}

h1:only-of-type{
    background-color: red;
}

header p:nth-child(10){
    background-color: pink;
}

section h1:only-of-type{
    background-color: blue;
}

div p:nth-child(5){
    background-color:red;
}

section:nth-child(14) h1:first-child{
    background-color:yellow;
}

header h1:nth-child(20){
    background-color:skyblue;
}