@import "variable";

*{
    margin: 0;
    padding: 0;
}

.header1{
    @include header(yellow,blue);
}

.header1:hover{
    background-color: $color;
    color: $bgc;
}

.header2{
    @include header(blue, yellow);
}

.header2:hover{
    background-color: $bgc;
    color: $color;
}